<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.tentorexpress.edukasiana.tentorexpress">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".TentorApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/TentorTheme">
        <activity
            android:name=".ui.activity.SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/TentorTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.AuthActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="edu.tentor.CLEARSCREEN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.SignUpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>

        <activity
            android:name=".ui.activity.HomeSideBarActivity"
            android:screenOrientation="portrait"></activity>
    </application>
</manifest>
